<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Genres</title>
    <link rel="stylesheet" href="css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Iceland&family=Nova+Cut&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include("./partials/navbar.ejs") %>

    <div
      class="flex flex-col items-center bg-black text-white font-iceland"
    >
      <h1
        class="w-full md:pl-20 pt-10 md:pt-20 pb-10 text-5xl text-center md:text-left"
      >
        CHOOSE A CATEGORY
      </h1>

      <div class="pb-20 grid grid-cols-[repeat(auto-fit, minmax(250px, 1fr))] md:grid-cols-3 gap-30">
        <%- include("./partials/genreCard.ejs", {
          imagePath: "/images/genres/dragon.svg",
          category: "RPG"
        }) %>

        <%- include("./partials/genreCard.ejs", {
          imagePath: "/images/genres/mountain.svg",
          category: "ADVENTURE"
        }) %>

        <%- include("./partials/genreCard.ejs", {
          imagePath: "/images/genres/floppyDisk.svg",
          category: "SIMULATION"
        }) %>

        <%- include("./partials/genreCard.ejs", {
          imagePath: "/images/genres/fist.svg",
          category: "ACTION"
        }) %>

        <%- include("./partials/genreCard.ejs", {
          imagePath: "/images/genres/gun.svg",
          category: "SHOOTER"
        }) %>

        <%- include("./partials/genreCard.ejs", {
          imagePath: "/images/genres/beach.svg",
          category: "OPEN WORLD"
        }) %>

        <%- include("./partials/genreCard.ejs", {
          imagePath: "/images/genres/dumbell.svg",
          category: "FIGHTING"
        }) %>

        <%- include("./partials/genreCard.ejs", {
          imagePath: "/images/genres/person.svg",
          category: "PLATFORMER"
        }) %>

        <%- include("./partials/genreCard.ejs", {
          imagePath: "/images/genres/ghost.svg",
          category: "HORROR"
        }) %>
      </div>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
